* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 20vh;
  margin-top: 35px;
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  overflow: hidden;
}

thead {
  color: white;
  background-color: #805ce4;
  box-shadow: 0 5px 10px #e1e5ee;
}

th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  font-weight: 900;
}

td {
  color: rgb(111, 88, 211);
  padding: 1rem 2rem;
}

.dashboard table a:link {
  text-decoration: none;
  color: #2962ff;
}

.create a:link,
a:visited {
  margin-top: 10px;
  background-color: white;
  color: #2962ff;
  border: 2px solid #805ce4;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.create a:hover,
a:active {
  background-color: #805ce4;
  color: white;
}

.dashboard button {
  background-color: #ffcdd2; /* Green */
  border: none;
  color: #c62828;
  padding: 0.2rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.2rem;
}

.dashboard button:hover {
  background-color: #f88b96;
}

tr:nth-child(even) {
  background-color: #f4f6fb;
}
